@tailwind base;
@tailwind components;
@tailwind utilities;

.theme-button-bg {
  background-color: rgba(228, 193, 225, 0.9);
}

html,
body,
:root {
  height: 100%;
}

body {
  background: rgb(228, 193, 225);
  background: linear-gradient(
    233deg,
    rgba(228, 193, 225, 1) 0%,
    rgba(206, 167, 202, 1) 38%,
    rgba(185, 141, 179, 1) 89%
  );
  background-image: url('/bg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
}
