@tailwind base;
@tailwind components;
@tailwind utilities;

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #a16294 #e4c1e1;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: #e4c1e1;
}

*::-webkit-scrollbar-thumb {
  background-color: #a16294;
  border-radius: 10px;
  border: 0px solid #ffffff;
}

html,
body,
:root {
  height: 100%;
}

body {
  background: rgb(228, 193, 225);
  background: linear-gradient(
    233deg,
    rgba(228, 193, 225, 1) 0%,
    rgba(206, 167, 202, 1) 38%,
    rgba(185, 141, 179, 1) 89%
  );
  /* background-image: url('/bg.jpg'); */
  background-repeat: no-repeat;
  background-attachment: fixed;
}

hr,
input,
textarea {
  border-color: rgb(115, 115, 115);
}

.theme-elem-bg {
  background-color: rgba(228, 193, 225, 0.9);
}
